
<br><br>
<div class="form-info"><center>
     <%= form_for(:session, url: login_path) do |f| %>
     <div>
        <%= f.label 'Email' %>
        <%= f.text_field :email, :required => true %>
         </div>
    <br>
    <div>
        <%= f.label 'Password' %>
        <%= f.password_field :password, :required => true %>
    </div><br>
    <%= f.submit 'Log In' %>
    <br><br>

<% end %>
</div></center>
