

<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| %>
    <br>

      <%= f.label 'Email' %><br>
      <%= f.text_field :email, :required => true %>
    </p>
     <p>

      <%= f.label 'Password' %><br>
      <%= f.password_field :password, :required => true %>
      
    </p>
        
    <p>
    <%= f.submit 'Log In' %>
    </p>

<% end %>



