<h2><center>Update Profile</h2></center>

<br><br>
<div class="form-div"><center>
    <%= form_for(@user) do |f| %>
    <div>
        <%= f.label 'Name', name: 'name', :required => true %>
        <%= f.text_field :name %>
    </div><br>


    <br>

    <div>
        <%= f.label 'Email' %>
        <%= f.text_field :email, :required => true %>
    </div><br>
    <div>
        <%= f.label 'Password' %>
        <%= f.password_field :password, :required => true %>
    </div>
    <br>

    <div>
        <%= f.label 'Password Confirmation' %>
        <%= f.password_field :password_confirmation, :required => true %>
    </div><br>

        <%= f.submit %>
    <br><br>

    <% end %>
</div></center>